/*=============================*/
/*=============================*/
/*===== Author: Aleksey Nikolaev ======*/
/*=============================*/
/*=============================*/

*, ::after, ::before {
	box-sizing: border-box;
    padding: 0;
	margin: 0;
}

html {
	font-family: "Atkinson Hyperlegible";
	font-size: 1.5em;
    color: white;
	background: rgba(6, 21, 33, 0.85);
}




div {
    /* background-color: #00FFFF; */
}

p {
    width: 50%;
    /* border: 1px solid black; */
    float: left;
    padding: 10px;
}

#p1 {
    /* background-color: #A52A2A; */
}

#p2 {
    /* background-color: #DEB887; */
}

section {
    clear: left;
}