/*=============================*/
/*=============================*/
/*===== Author: Aleksey Nikolaev ======*/
/*=============================*/
/*=============================*/

*, ::after, ::before {
	box-sizing: border-box;
    padding: 0;
	margin: 0;
}

html {
	font-family: "Atkinson Hyperlegible";
	font-size: 1.5em;
    color: white;
	background: rgba(6, 21, 33, 0.85);
}

#bg {
    width: 500px;
    height: 500px;
    /* background-color: blue;
    background-image: url("http://az837918.vo.msecnd.net/publishedimages/articles/1733/en-CA/images/1/free-download-this-stunning-alberta-scene-for-your-device-background-image-L-6.jpg");
    background-repeat: no-repeat;
    background-position: center; */
    
    background: url("http://az837918.vo.msecnd.net/publishedimages/articles/1733/en-CA/images/1/free-download-this-stunning-alberta-scene-for-your-device-background-image-L-6.jpg") blue no-repeat center;
}