/*=============================*/
/*=============================*/
/*===== Author: Aleksey Nikolaev ======*/
/*=============================*/
/*=============================*/

*, ::after, ::before {
	box-sizing: border-box;
    padding: 0;
	margin: 0;
}

html {
	font-family: "Atkinson Hyperlegible";
	font-size: 1.5em;
    color: white;
	background: rgba(6, 21, 33, 0.85);
}




h1 {
    margin-bottom: 15px;
}

div#container {
    background-color: #00FFFF;
    position: relative;
    top: 60px;
}

p {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    margin-bottom: 15px;
}

#p1 {
    background-color: #A52A2A;
    position: relative;
    top: 65px;
    left: 65px;
}

#p2 {
    background-color: #DEB887;
}

#p3 {
    background-color: #5F8EA0;
    position: absolute;
    top: 0;
    left: 0;
}

#p4 {
    background-color: #FF7F50;
}